{% extends 'base.html.twig' %}

{% block title %}Ajouter une Couleur{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<br>
    <h1>Ajouter une Couleur</h1>
<br>
    <br>
    {# {{ include('couleur/_form.html.twig') }} #}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
     <a class="btn btn-primary me-md-2" href="{{ path('app_couleur_index') }}">Retour</a>
    {{ form_end(form) }}  
 
    <br>
</main>
</section>
</div>
<br>
{% endblock %}
