{% extends 'base.html.twig' %}

{% block title %}Fabricant index{% endblock %}

{% block body %}
    <h1>Fabricant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomFabricant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fabricant in fabricants %}
            <tr>
                <td>{{ fabricant.id }}</td>
                <td>{{ fabricant.nomFabricant }}</td>
                <td>
                    <a href="{{ path('app_fabricant_show', {'id': fabricant.id}) }}">show</a>
                    <a href="{{ path('app_fabricant_edit', {'id': fabricant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fabricant_new') }}">Create new</a>
{% endblock %}
