{# Sert pour la suppression #}
{% extends 'base.html.twig' %}

{% block title %}Fabricant{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<br>
    <h1>Supprimer un Fabricant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fabricant.id }}</td>
            </tr>
            <tr>
                <th>Nom du Fabricant</th>
                <td>{{ fabricant.nomFabricant }}</td>
            </tr>
        </tbody>
    </table>
 
 <form method="post" action="{{ path('app_fabricant_delete', {'id': fabricant.id}) }}" onsubmit="return confirm('Vous êtes sûr le point de supprimer un fabricant, voulez-vous continuer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fabricant.id) }}">
    <button class="btn btn-danger">Supprimer</button>
    <a class="btn btn-primary me-md-2" href="{{ path('app_fabricant_index') }}">Retour</a>
</form>


   

    {# <a href="{{ path('app_fabricant_edit', {'id': fabricant.id}) }}">edit</a> #}

    {# {{ include('fabricant/_delete_form.html.twig') }} #}

</main>
</section>
</div>
{% endblock %}
