{% extends 'base.html.twig' %}

{% block title %}Continent index{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<br>
    <h1 style="text-align:center">Gestion des Continents</h1>
    <br>
<a class="btn btn-primary" href="{{ path('app_continent_new') }}" role="button">Ajouter</a>
<br>
<br>
<br>

    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-warning">
            <tr>
                <th style="text-align:center">Id</th>
                <th style="text-align:center">Nom du Continent</th>
                <th style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for continent in continents %}
            <tr class="table-light">
                <td style="text-align:center">{{ continent.id }}</td>
                <td style="text-align:center">{{ continent.nom }}</td>
                <td style="text-align:center">
                {# <a class="btn btn-info" href="{{ path('app_continent_show', {'id': continent.id}) }}" role="button">Consulter</a> #}
                <a class="btn btn-success" href="{{ path('app_continent_edit', {'id': continent.id}) }}" role="button">Modifier</a>
                <a class="btn btn-danger" href="{{ path('app_continent_show', {'id': continent.id}) }}" role="button">Supprimer</a>
                {# a faire bouton supprimer #}
                {# <a class="btn btn-danger" href="{{ path('app_continent_delete', {'id': continent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ continent.id) }}" role="button">Supprimer</a>   #}

                {# <a class="btn btn-dange" href="{{ include('continent/_delete_form.html.twig') }}" role="button">Supp</a> #}


                {# <a class="btn btn-danger" href="{{ path('app_continent_delete', {'id': continent.id}) }}" role="button">TEST</a> #}


                {# <a href="{{ path('app_continent_delete', {'id': continent.id}) }}" onsubmit="return confirm('Vous voules supprimer un continent ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ continent.id) }}">
                <button  class="btn btn-danger" role="button">Supprimer</button>
                </a> #}

                
                {# {{ include('continent/_delete_form.html.twig') }} #}
                
                                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   

</main>
</section>
</div>
<br>
{% endblock %}
