{% extends 'base.html.twig' %}

{% block title %}Continent index{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
    <h1>Continents</h1>
<a class="btn btn-primary" href="{{ path('app_continent_new') }}" role="button">Ajouter</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Continent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for continent in continents %}
            <tr>
                <td>{{ continent.id }}</td>
                <td>{{ continent.nom }}</td>
                <td>
                <a class="btn btn-info" href="{{ path('app_continent_show', {'id': continent.id}) }}" role="button">Consulter</a>
                <a class="btn btn-success" href="{{ path('app_continent_edit', {'id': continent.id}) }}" role="button">Modifier</a>
                {# a faire #}
                <a class="btn btn-danger" href="#" role="button">Supprimer</a>  
                                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   

</main>
</section>
</div>
{% endblock %}
