{# Sert pour la suppression #}
{% extends 'base.html.twig' %}

{% block title %}Continent{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<br>
    <h1>Supprimer un Continent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ continent.id }}</td>
            </tr>
            <tr>
                <th>Nom du continent</th>
                <td>{{ continent.nom }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary me-md-2" href="{{ path('app_continent_index') }}" role="button">Retour</a>
    {# <a href="{{ path('app_continent_index') }}">Retour</a> #}

    {# <a href="{{ path('app_continent_edit', {'id': continent.id}) }}">edit</a> #}
     <a href="#">
    {{ include('continent/_delete_form.html.twig') }}
    </a>
   </div>

</main>
</section>
</div>
{% endblock %}
