{% extends 'base.html.twig' %}

{% block title %}Continent{% endblock %}

{% block body %}
    <h1>Continent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ continent.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ continent.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_continent_index') }}">back to list</a>

    <a href="{{ path('app_continent_edit', {'id': continent.id}) }}">edit</a>

    {{ include('continent/_delete_form.html.twig') }}
{% endblock %}
