{% extends 'base.html.twig' %}

{% block title %}Pays index{% endblock %}

{% block body %}
    <h1>Pays index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomPays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td>{{ pay.id }}</td>
                <td>{{ pay.nomPays }}</td>
                <td>
                    <a href="{{ path('app_pays_show', {'id': pay.id}) }}">show</a>
                    <a href="{{ path('app_pays_edit', {'id': pay.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pays_new') }}">Create new</a>
{% endblock %}
