{% extends 'base.html.twig' %}

{% block title %}Marque index{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<br>
{# {{ dump(marques) }} #}
    <h1>Gestion des marques</h1>
<br>

<a class="btn btn-primary me-md-2" href="{{ path('app_marque_new') }}">Ajouter</a>
<br>
<br>
<br>
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-warning">
            <tr style="text-align:center">
                <th>Id</th>
                <th>Nom Marque</th>
                <th>Nom Pays</th>
                <th>Nom Fabricants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
        {# {{ dump(marque.pays) }} #}
        {# {{ dump(marque.fabricants.id) }} #}
            <tr class="table-light">
                <td style="text-align:center">{{ marque.id }}</td>
                <td style="text-align:center">{{ marque.nomMarque }}</td>                
                <td style="text-align:center">{{ marque.pays.nomPays }}</td>
                {# <td>{{ marque.fabricants.nomFabricant }}</td> #}
                <td style="text-align:center">
                {# Code grâce a ChatGPT #}
                {% if marque.fabricants is not null %}
                        {{ marque.fabricants.nomFabricant }}
                    {% else %}
                        N/A
                    {% endif %}

                </td>
                <td style="text-align:center">
                    
                    <a class="btn btn-success" href="{{ path('app_marque_edit', {'id': marque.id}) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path('app_marque_show', {'id': marque.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
    
        </tbody>
    </table>
</main>
</section>
</div>
<br>

    
{% endblock %}
