{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
{# {{ dump(articles) }} #}
    <h1>Article indexTEST2</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Article</th>
                <th>Type</th>
                <th>Marque</th>
                <th>Couleur</th>
                <th>Prix Achat</th>
                <th>Volume</th>
                <th>Titrage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.nomArticle }}</td>
                <td>
                 {% if article.types is not null %}
                    {{ article.types.nomType}}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                 <td>{{ article.marques.nomMarque}}</td>
                 <td>
                {% if article.couleurs is not null %}
                    {{ article.couleurs.nomCouleur}}
                    {% else %}
                        N/A
                    {% endif %}
                </td>               
                <td>{{ article.prixAchat }}</td>
                <td>{{ article.volume }}</td>
                <td>{{ article.titrage }}</td>
               
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
